doctype html
html(lang="ru")  
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet", href="./styles/styles.css")
    title COLORS  

  body
    header.header
      .header__overlay
      .header__container-left 
        a.header__logo(href="index.html")
          img(src="./images/icons/logo.svg" alt="logo")

        nav.header__menu#mainNav
          .header__burger
            span
          ul.header__list
            li: a(href="#") Продукты
            li: a(href="#") Цвета
            li: a(href="#") Вдохновение
            li: a(href="#") Советы
            li: a(href="#") Найти магазин

      a.header__mob-logo(href="index.html")
        img(src="./images/icons/logo.svg" alt="logo")

      .header__container-right 
        a.header__phone(href="tel:+74952217769") +7 (495) 221-77-69
          span Заказать звонок  

        .header__profile-info
          button.header__search-btn
            img.header__search-icon(src="./images/icons/search.svg")
          button.header__profile-btn
            img.header__profile-icon(src="./images/icons/profile.svg")
          button.header__like-btn
            img.header__like-icon(src="./images/icons/heart.svg")
          button.header__cart-btn#cartBtn
            span.header__cart-count#cartCount 0  

    main.main
      section.slider
        .slider__container
          .breadcrumbs
            a(href="#").breadcrumbs__link Главная
            a(href="#").breadcrumbs__link Продукты
            span.breadcrumbs__current Краски
          .swiper
            .swiper-wrapper
              .swiper-slide(data-bg="url(images/pictures/main-bg.jpg)")
                .slide-content
                  h2.slide-title Краски
                  p.slide-description Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!
              .swiper-slide(data-bg="url(images/pictures/main-bg.jpg)")
                .slide-content
                  h2.slide-title Летние краски
                  p.slide-description Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!
              .swiper-slide(data-bg="url(images/pictures/main-bg.jpg)")
                .slide-content
                  h2.slide-title Осенние краски
                  p.slide-description Идеально подходят для стен и других поверхностей. Найди свой идеальный цвет!
            .swiper-pagination

            .swiper-button-prev
            .swiper-button-next
      .main-content
        aside.main-content__filter
          .filter-group
            input(type='radio' name='filter' id='new-product' checked).main-content__filter-input
            label(for="new-product").main-content__filter-label Новинки
          
          .filter-group
            input(type='radio' name='filter' id='in-stock')
            label(for="in-stock").main-content__filter-label Есть в наличии
          
          .filter-group
            input(type='radio' name='filter' id='contract')
            label(for="contract").main-content__filter-label Контрактные
          
          .filter-group
            input(type='radio' name='filter' id='exclusive')
            label(for="exclusive").main-content__filter-label Эксклюзивные
          
          .filter-group
            input(type='radio' name='filter' id='sale')
            label(for="sale").main-content__filter-label Распродажа


        section.main-content__orders
          .main-content__header
            .main-content__count-items загрузка товаров
            .main-content__sort 
              select#sort-option(name="sort")
                option(value="expensive") Сначала дорогие
                option(value="cheap") Сначала недорогие
                option(value="popular") Сначала популярные
                option(value="new") Сначала новые
          .main-content__items#product-list 

    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script(src="./js/swiper.js")
    script(src="./js/app.js")
    script(src="./js/api.js") 
