/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  font-family: "Inter";
}

.header {
  display: flex;
  gap: 10px;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 21px 24px;
}
@media (min-width: 1440px) {
  .header {
    padding: 38px calc(50% - 860px);
  }
}
.header__container-left {
  display: flex;
}
@media (min-width: 1440px) {
  .header__container-left {
    flex: 1 1 calc(50% - 10px);
    justify-content: space-between;
  }
}
.header__burger {
  display: block;
  width: 24px;
  height: 12px;
  position: relative;
  z-index: 11;
}
.header__burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1f2020;
  top: 50%;
  transition: all 0.3s ease;
}
.header__burger span::before, .header__burger span::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1f2020;
  position: absolute;
}
.header__burger span::before {
  top: 7px;
}
.header__burger span::after {
  bottom: 7px;
}
@media (min-width: 1440px) {
  .header__burger span {
    display: none;
  }
}
.header__burger._open-burger span {
  transform: rotate(-45deg) translateY(-50%);
}
.header__burger._open-burger span::before {
  transform: rotate(-90deg) translate(50%);
  top: 15px;
}
.header__burger._open-burger span::after {
  width: 0;
}
.header__logo {
  display: none;
}
@media (min-width: 1440px) {
  .header__logo {
    display: block;
  }
}
.header__menu {
  align-items: center;
}
@media (min-width: 1440px) {
  .header__container-right {
    flex: 1 1 calc(50% - 10px);
    display: flex;
    justify-content: flex-end;
  }
}
.header__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  top: -150%;
  align-items: center;
  justify-content: center;
  height: 80vh;
  transition: all 0.3s ease;
  z-index: 10;
}
@media (min-width: 1440px) {
  .header__list {
    flex-direction: row;
    position: static;
    height: auto;
    width: 100%;
    gap: 24px;
  }
}
.header__list a {
  color: #1f2020;
  text-transform: uppercase;
}
.header__list._open-burger {
  top: 80px;
}
.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  padding: 0 15px;
}
.header__list._open-burger, .header__overlay._open-burger {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.header__mob-logo {
  display: flex;
}
@media (min-width: 1440px) {
  .header__mob-logo {
    display: none;
  }
}
.header__phone {
  display: none;
}
@media (min-width: 1440px) {
  .header__phone {
    margin-right: 116px;
    display: flex;
    flex-direction: column;
    color: #1f2020;
    font-weight: 500;
  }
  .header__phone span {
    color: #1f2020;
    opacity: 30%;
  }
}
.header__profile-info {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__search-btn, .header__profile-btn, .header__like-btn {
  display: none;
}
@media (min-width: 1440px) {
  .header__search-btn, .header__profile-btn, .header__like-btn {
    display: flex;
    background: transparent;
    outline: none;
  }
}
.header__cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
  background-color: #7bb899;
}
.slider {
  display: none;
}
@media (min-width: 1440px) {
  .slider {
    display: block;
  }
}
@media (min-width: 1440px) {
  .slider__container {
    position: relative;
  }
}

.breadcrumbs {
  position: absolute;
  top: 20px;
  left: calc(50% - 860px);
  z-index: 10;
  color: #ffffff;
  font-size: 14px;
}
.breadcrumbs a {
  color: #ffffff;
  opacity: 30%;
  text-transform: uppercase;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs__link {
  margin-right: 19px;
  display: inline-block;
  position: relative;
}
.breadcrumbs__link::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #C4C4C4;
  border-radius: 999px;
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
}
.breadcrumbs__current {
  color: #ffffff;
  opacity: 30%;
  text-transform: uppercase;
}

.swiper {
  width: 100vw;
  height: calc(100vh - 100px);
  max-height: 560px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  z-index: 0;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-content {
  max-width: 472px;
}

.slide-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 72px;
  margin-bottom: 24px;
}

.slide-description {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

.swiper-pagination {
  background: rgba(0, 0, 0, 0.4);
  padding: 13px 24px;
  border-radius: 999px;
  width: -moz-fit-content !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translate(-50%) !important;
  bottom: 39px !important;
}

.swiper-pagination-bullet {
  background: #ffffff;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
}

.swiper-button-prev {
  left: calc(50% - 860px);
}

.swiper-button-next {
  right: calc(50% - 860px);
}

#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
  gap: 15px;
}
@media (min-width: 1024px) {
  #product-list {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
@media (min-width: 1440px) {
  #product-list {
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    padding: 44px 0;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, display 0.3s ease;
}
.product-card__image {
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  .product-card__image {
    width: 100%;
    height: 278px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.product-card__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.product-card__name {
  margin-bottom: 24px;
  font-size: 16px;
  flex: auto;
  color: #1f2020;
}
.product-card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card__price {
  color: #1f2020;
  font-weight: 600;
  font-size: 16px;
  padding: 4px 0;
}
@media (min-width: 1024px) {
  .product-card__price {
    padding: 8px 0;
  }
}
.product-card__add-to-cart {
  display: flex;
  color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
  background: #f2f2f2 url("../images/icons/plus.svg") center/40% no-repeat;
}
@media (min-width: 1024px) {
  .product-card__add-to-cart {
    display: none;
    padding: 16px 40px;
    background: #7bb899 url("../images/icons/plus.svg") center/30% no-repeat;
    transition: background 0.3s;
  }
  .product-card__add-to-cart:hover {
    opacity: 0.8;
  }
}

.product-card:hover .product-card__add-to-cart {
  display: flex;
}

.main-content {
  display: grid;
}
@media (min-width: 1024px) {
  .main-content {
    grid-template-columns: 185px 1fr;
    gap: 138px;
    padding: 72px calc(50% - 860px);
  }
}
.main-content__filter {
  width: 185px;
  padding-left: 24px;
}
.main-content__title {
  display: flex;
}
@media (min-width: 1024px) {
  .main-content__title {
    display: none;
  }
}
.main-content__filter-wrapper {
  display: none;
}
@media (min-width: 1024px) {
  .main-content__filter-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.main-content__filter-group {
  display: flex;
  align-items: center;
}
.main-content__filter-input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 36px;
  height: 22px;
  background: #f2f2f2;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 12px;
}
.main-content__filter-input::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #1f2020;
  border-radius: 50%;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.main-content__filter-input:checked {
  background: #7bb899;
}
.main-content__filter-input:checked::before {
  background: #1f2020;
  transform: translate(15px, -50%);
}
.main-content__filter-label {
  cursor: pointer;
  font-size: 12px;
  color: #1f2020;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: uppercase;
}
.main-content__orders {
  padding: 0 24px;
}
@media (min-width: 1024px) {
  .main-content__orders {
    padding-right: 24px;
  }
}
.main-content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  .main-content__header {
    margin-bottom: 0;
  }
}
.main-content__count-items {
  display: none;
}
@media (min-width: 1024px) {
  .main-content__count-items {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .main-content__items {
    padding: 44px 0;
  }
}

.dropdown-items__content {
  position: relative;
}
.dropdown-items__btn {
  position: relative;
  display: block;
  text-align: left;
  min-width: 151px;
  width: 100%;
  background: transparent;
  padding: 6px 30px 6px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #1f2020;
  text-transform: uppercase;
  cursor: pointer;
}
.dropdown-items__btn:hover {
  transition: all 0.4s ease-in 0s;
  background-color: #7bb899;
}
.dropdown-items__btn::before {
  content: "";
  position: absolute;
  top: 49%;
  right: 15px;
  transform: translateY(-50%);
  width: 10px;
  height: 6px;
  background: url("../images/icons/arrow-down.svg") 0 0/contain no-repeat;
  pointer-events: none;
  z-index: 1;
}
.dropdown-items__list {
  display: none;
  position: absolute;
  right: -24px;
  min-width: 280px;
  top: -15px;
  background: #ffffff;
  width: -moz-fit-content;
  overflow: hidden;
  text-transform: uppercase;
  z-index: 6;
}
.dropdown-items__item {
  padding: 17px 24px;
  font-weight: 400;
  font-size: 12px;
  color: #1f2020;
  cursor: pointer;
}
.dropdown-items__item:hover {
  background: #7bb899;
}
.dropdown-items__input {
  display: none;
}
.dropdown-items__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.dropdown-items__list--visible {
  display: block;
}

.dropdown-items__overlay--visible {
  display: block;
}

.dropdown-items__btn--active {
  outline: none;
}/*# sourceMappingURL=styles.css.map */